/app/config/parameters.yml
/app/Resources/*
!/app/Resources/java/
!/app/Resources/TwigBundle/
!/app/Resources/views/
!/app/Resources/translations/
/bin/*
!/bin/console
!/bin/symfony_requirements
/build/
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/res/bower_components/
/web/res/css/*
!/web/res/css/.gitkeep
/web/res/documents/*
!/web/res/documents/.gitkeep
/web/res/fonts/*
!/web/res/fonts/.gitkeep
/web/res/images/*
!/web/res/images/.gitkeep
/web/res/img/*
!/web/res/img/.gitkeep
/web/res/imgs/*
!/web/res/imgs/.gitkeep
/web/res/js/*
!/web/res/js/.gitkeep
/web/res/js/dataTablesI18N/*
!/web/res/js/dataTablesI18N/.gitkeep
/web/res/programs/*
!/web/res/programs/.gitkeep
/web/res/traineerecorddocuments/*
!/web/res/traineerecorddocuments/.gitkeep
/web/res/UserPictures/*
!/web/res/UserPictures/.gitkeep
/node_modules/
/.settings/
/.buildpath
/.classpath
/.project
